<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include /usr/src/app/pages/components/head %>
	</head>
	<body>
		<%- include /usr/src/app/pages/components/header %>

		<div class="container">
			</br>
			<% if("updated" in query) { %>
				<div class="input-group alert alert-success alert-dismissable fade in">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Calendar updated!</strong><a></a>
				</div>
			<% } else if("deleted" in query) { %>
				<div class="input-group alert alert-danger alert-dismissable fade in">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Calendar deleted!</strong>
				</div>
			<% } else if("created" in query) { %>
				<div class="input-group alert alert-success alert-dismissable fade in">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Calendar created!</strong>
				</div>
			<% } %>

			<% if("calendar" in query) { %>

				<button type="button" class="btn btn-primary" onclick="goBack()">Back</button>
				</br>
				</br>
		        <div class="row" style='width:100%;'>
		            <div class="col-xs-6 mr-auto">
		                <div class="input-group">
		                    <input type="text" id="url" class="form-control" placeholder="Url to an existing calendar">
                            <div class="input-group-prepend">
                                <div class="input-group-text"></div>
                            </div>
		                    <input type="text" id="urlTag" class="form-control" placeholder="Name for calendar">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" onclick="addUrl()"><i class="fa fa-check"></i></button>
                            </div>
		                </div>
		            	<table class='table table-hover setbackground'>
		            		<thead>
		            			<tr>
		            				<th>Calendar url</th>
		            				<th>Name</th>
		            				<th>Delete</th>
	            				</tr>
	        				</thead>
	        				<tbody>
                                <% var urls = pageData.calendarUrls %>
                                <% for (let url in urls) { %>
                                    <%- "<tr id= " + urls[url]['id'] + ">" %>
                                        <%- "<td>" + urls[url]['data'] + "</td>" %>
                                        <%- "<td>" + urls[url]['name'] + "</td>" %>
                                        <%- "<td><button type='button' class='btn btn-danger' onclick='deleteUrl(" + urls[url]['id'] + ")'> Delete </button></td>" %>
                                    <%- "</tr>" %>
                                <% } %>
	        				</tbody>
	    				</table>
		            </div>
		            <div class="col-xs-6">
		                <div class="input-group">
		                    <input type="text" id="course" class="form-control" placeholder="Course number to filter">
                            <div class="input-group-prepend">
                                <div class="input-group-text"></div>
                            </div>
		                    <input type="text" id="courseTag" class="form-control" placeholder="Name for course">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" onclick="addCourse()"><i class="fa fa-check"></i></button>
                            </div>
		                </div>
		            	<table class='table table-hover setbackground'>
		            		<thead>
		            			<tr>
		            				<th>Course number</th>
		            				<th>Course name</th>
		            				<th>Delete</th>
	            				</tr>
	        				</thead>
	        				<tbody>
                                <% var courseNumbers = pageData.calendarCourseNumbers %>
                                <% for (let number in courseNumbers) { %>
                                    <%- "<tr id= " + courseNumbers[number]['id'] + ">" %>
                                        <%- "<td>" + courseNumbers[number]['data'] + "</td>" %>
                                        <%- "<td>" + courseNumbers[number]['name'] + "</td>" %>
                                        <%- "<td><button type='button' class='btn btn-danger' onclick='deleteCourse(" + courseNumbers[number]['id'] + ")'> Delete </button></td>" %>
                                    <%- "</tr>" %>
                                <% } %>
	        				</tbody>
	    				</table>
		            </div>
		        </div>
		        </br>
				<form>
					<div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Calendar url: </div>
                        </div>
						<input type="text" class="form-control" value="https://dupbit.com/ics/calendar_<%= query.calendar %>.ics" placeholder="Url to ics calendar" id="copy-input">
					</div>
				</form>
				</br>
			<% } else { %>
				<!-- calendar table -->
				<table class='table table-hover setbackground'>
					<thead>
						<tr>
							<th>id</th>
							<th>Name</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
                        <% var tables = pageData.calendarTable %>
                        <% for (let table in tables) { %>
                            <%- "<tr id= " + tables[table]['id'] + ">" %>
                                <%- "<td>" + tables[table]['id'] + "</td>" %>
                                <%- "<td>" + tables[table]['name'] + "</td>" %>
                                <%- "<td><button type='button' class='btn btn-link'><a href='?calendar=" + tables[table]['id'] + "'>Edit</a></button></td>" %>
                                <%- "<td><button type='button' class='btn btn-danger' onclick='deleteCalendar(" + tables[table]['id'] + ")'> Delete </button></td>" %>
                            <%- "</tr>" %>
                        <% } %>
					</tbody>
				</table>
				<!-- calendar table -->
		        <div class="row">
		            <div class="col-xs-3">
		                <div class="input-group">
		                    <input type="text" id="newName" onkeypress="handleKeyPress(event)" class="form-control" placeholder="Name for new calendar">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" onclick="createCalendar()"><i class="fa fa-check"></i></button>
                            </div>
		                </div>
		            </div>
		            <div class="col-xs-5"></div>
		        </div>
			<% } %>

		</div>
		<form action="/api/calendar" style="visibility:hidden" method="post" id="submitform">
			<input type="hidden" name="id" id="id">
			<input type="hidden" name="calendar" value="<%= query.calendar %>">
			<input type="hidden" name="name" id="name">
			<input type="hidden" name="action" id="action">
			<input type="hidden" name="sort" id="sort">
			<input type="hidden" name="data" id="data">
			<input type="hidden" name="info" id="info">
		</form>

        <%- include /usr/src/app/pages/components/footer %>
		<script>
			function handleKeyPress(e){
				var key=e.keyCode || e.which;
				if (key==13){
					createCalendar();
				}
			}
			function deleteCalendar(id){
				$("#id").val(id);
				$("#action").val("deleteCalendar");
				$("#submitform").submit();
			}
			function createCalendar(){
				var newName = $("#newName").val();
				$("#name").val(newName);
				$("#action").val("createCalendar");
				$("#submitform").submit();
			}
			function deleteCourse(id){
				$("#id").val(id);
				$("#sort").val("courses");
				$("#action").val("deleteCalendarData");
				$("#submitform").submit();
			}
			function deleteUrl(id){
				$("#id").val(id);
				$("#sort").val("urls");
				$("#action").val("deleteCalendarData");
				$("#submitform").submit();
			}
			function addUrl(){
				var data = $("#url").val();
				var info = $("#urlTag").val();
				$("#sort").val("urls");
				$("#data").val(data);
				$("#info").val(info);
				$("#action").val("createCalendarData");
				$("#submitform").submit();
			}
			function addCourse(){
				var data = $("#course").val();
				var info = $("#courseTag").val();
				$("#sort").val("courses");
				$("#data").val(data);
				$("#info").val(info);
				$("#action").val("createCalendarData");
				$("#submitform").submit();
			}
			function goBack(){
				window.location.href = "/projects/calendar";
			}
		</script>

	</body>
</html>
