<!-- NAVIGATOR -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top ">
    <a class="navbar-brand" href="/">Dupbit.com</a>
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navMain" aria-expanded="false" aria-controls="navMain">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMain">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Projects
                </a>
                <div class="dropdown-menu bg-dark">
                    <a class="dropdown-item bg-dark text-white-50" href="/projects/connect">Dupbit Connect</a>
                    <a class="dropdown-item bg-dark text-white-50" href="/projects/calendar">Calendars</a>
                    <% if(user.level >= 2) { %>
                    <a class="dropdown-item bg-dark text-white-50" href="/projects/music">Music</a>
                    <% } %>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Discord Bots
                </a>
                <div class="dropdown-menu bg-dark">
                    <a class="dropdown-item bg-dark text-white-50" href="/snitch">Snitch</a>
                    <a class="dropdown-item bg-dark text-white-50" href="/dupbot">Dupbot</a>
                </div>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <% if(session.isLoggedIn) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <%= user.username %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark">
                        <a class="dropdown-item bg-dark text-white-50" href="/welcome"><i class="fas fa-home"></i> Welcome</a>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header bg-dark text-white-75">Profile actions</div>
                        <a class="dropdown-item bg-dark text-white-50" href="/account"><i class="fas fa-user-alt"></i> Account</a>
                        <% if(user.level >= 2) { %>
                        <a class="dropdown-item bg-dark text-white-50" href="/projects/connect/control"><i class="fas fa-sliders-h"></i> Connect Panel</a>
                        <% } %>
                        <% if(user.level == 3) { %>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header bg-dark text-white-75">Admin acounts</div>
                        <a class="dropdown-item bg-dark text-white-50" href="/users"><i class="fas fa-users"></i> Manage users</a>
                        <a class="dropdown-item bg-dark text-white-50" href="/logins"><i class="fas fa-user-shield"></i> Login attempts</a>
                        <% } %>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item bg-dark text-white-50" href="/api/account/logout"><i class="fas fa-sign-out-alt"></i> Log out</a>
                    </div>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/register"><i class="fas fa-user-alt"></i> Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>
<!-- NAVIGATOR -->
