<!DOCTYPE html>
<html>
<head>
    <title>Dupbit</title>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="content">
            <p>hi</p>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>

    </script>
</body>
</html> 
