<!DOCTYPE html>
<html>
<head>
    <title>Dupbit</title>
    <% include ../partials/head %>
</head>
<body>
    <div class="back"></div>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <h1 class="white">Where an idea meets reality.</h1>
                        <p class="white bold">Dupbit is a personal platform used to experiment and develop hobby projects. These projects usually start with an idea of one of our developers
                            to make life little easier, more enjoyable and more convenient. All our projects are free to use and can be found <a href="projects">here</a></p>
                        <p class="white">Some examples of these projects are Dupbit Connect, Dupbit Music downloader, etc</p>
                        <button type="button" class="btn btn-danger btn-lg bold">Sign Up Now!</button>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-5" style="text-align:center">
                    <img src="/assets/images/app.png" alt="Card image">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>

    </script>
</body>
</html> 
