<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ../../components/head %>
	</head>
	<body>
		<%- include ../../components/header %>

		<div class="container">
			</br>
            <div class="">
				<div class="col-md-4 text-center"> 
                    <button class="btn btn-success btn-lg" onclick="on()">On</button> 
                    <button class="btn btn-danger btn-lg" onclick="off()">Off</button> 
                </div>
            </div>
		</div>

        <%- include ../../components/footer %>
		<script>
            function on() {
                Request.GET("/api/mqtt", {
                    topic: "esp8266-led",
                    message: "1",
                });
            }
            function off() {
                Request.GET("/api/mqtt", {
                    topic: "esp8266-led",
                    message: "0",
                });
            }
		</script>

	</body>
</html>
