<!DOCTYPE html>
<html lang="en">
	<head>
        <style>
        .collapsing {
          position: relative;
          height: 0;
          overflow: hidden;
          -webkit-transition-property: height, visibility;
          transition-property: height, visibility;
          -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
          -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
        }
        .collapsing.width {
          -webkit-transition-property: width, visibility;
          transition-property: width, visibility;
          width: 0;
          height: auto;
        }
        </style>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
        <%- include ./components/head %>
	</head>
	<body>
		<%- include ./components/header %>
        <br>
		<div class="container">

            <div class="row">

                <div class="card" style="width:300px;">
                  <img class="card-img-top" src="/images/joren.jpg" alt="Card image" style="width:100%;">
                  <div class="card-body">
                    <h4 class="card-title">Joren Vandeweyer</h4>
                    <p class="card-text">Joren Vandeweyer is an Engineer and a programmer.</p>
                    <a href="#" class="btn btn-primary" data-toggle="collapse" data-target="#joren">See Profile</a>
                  </div>
                </div>

                <div id="joren" class="card collapse width" style="height:334px;">
                    <div style="">
                        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="nl_NL" data-type="vertical" data-theme="dark" data-vanity="jorenvandeweyer"><a class="LI-simple-link" href='https://be.linkedin.com/in/jorenvandeweyer?trk=profile-badge'>Joren Vandeweyer</a></div>
                        <div class="github-card" data-github="jorenvandeweyer" data-width="280" data-height="150" data-theme="default"></div>
                    </div>
                </div>

                <div class="card" style="width:300px;">
                  <img class="card-img-top" src="/images/no-profile-img.jpg" alt="Card image" style="width:100%;">
                  <div class="card-body">
                    <h4 class="card-title">Maarten Sijmkens</h4>
                    <p class="card-text">Maarten Sijmkens is an Engineer and a programmer.</p>
                    <a href="#" class="btn btn-primary" data-toggle="collapse" data-target="#maarten">See Profile</a>
                  </div>
                </div> 
                
                <div id="maarten" class="card collapse width" style="height:334px;">
                    <div style="">
                        <div class="github-card" data-github="maartensijmkens" data-width="280" data-height="150" data-theme="default"></div>
                    </div>
                </div>

            </div>
		</div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        <%- include ./components/footer %>
	</body>
</html>
