<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include ./components/head %>
	</head>

	<body>

		<%- include ./components/header %>
        </br>
		<div class="container">
			<h3>Not authorized</h3>
			<p>You are not authorized to view this page.</p>
		</div>
        <%- include ./components/footer %>

	</body>
</html>
