<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include ./components/head %>
	</head>

	<body>

		<%- include ./components/header %>
        </br>
		<div class="container">
			<div class="card">
				<div class="card-header"><b>Users</b></div>
				<div class="card-body">
					<table class='table table-hover'>
						<thead>
							<tr>
								<th>ID</th>
								<th>Username</th>
								<th>Email</th>
								<th>Level</th>
								<th>Registration</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody id="user_list">
						</tbody>
					</table>
				</div>
			</div>
		</div>

        <%- include ./components/footer %>
    <script>
    class Users {
        constructor() {
            this.users = {};
            this.update();
        }

        update() {
            Request.GET("/api/admin/users").then((data) => {
                const users = data.users;
                console.log(users);
                for (let i = 0; i < users.length; i++) {
                    this.add(users[i]);
                }
            });
        }

        add(user) {
            const el = createElement(this._createUser(user), "tbody");
            document.getElementById("user_list").append(el);
            this.users[user.id] = {
                id: user.id,
                username: user.username,
                email: user.email,
                level: user.level,
                registrationTimestamp: user.registrationTimestamp,
                element: el,
                delete: function() {
                    this.element.remove();
                    delete this.users[this.id];
                },
                edit: function() {
                    this.element.querySelector("button.edit").style.display = "none";
                    this.element.querySelector("button.save").style.display = "block";
                    this.element.children[1].innerHTML = `<input value='${this.username}'></input>`;
                    this.element.children[2].innerHTML = `<input value='${this.email}'></input>`;
                    this.element.children[3].innerHTML = `<select id="level"><option>0</option><option>1</option><option>2</option><option>3</option></select>`;
                    this.element.querySelector("select").value = this.level;
                },
                save: function() {
                    this.element.querySelector("button.edit").style.display = "block";
                    this.element.querySelector("button.save").style.display = "none";

                    const username = this.element.children[1].firstChild.value;
                    const email = this.element.children[2].firstChild.value;
                    const level = this.element.children[3].firstChild.value;

                    Request.POST("/api/admin/users", {
                        id: this.id,
                        username,
                        email,
                        level,
                    }).then(res => {
                        if (res.success) {
                            this.username = res.data.username;
                            this.level = res.data.level;
                            this.email = res.data.email;
                        }
                        this.element.children[1].innerText = this.username;
                        this.element.children[2].innerText = this.email;
                        this.element.children[3].innerText = this.level;
                    });
                }
            }
        }

        edit(user) {
            this.users[user].edit();
        }

        save(user) {
            this.users[user].save();
        }

        delete(user) {
            Request.DELETE("/api/admin/users", {
                id
            }).then(() => {
                this.users[user].delete();
            });
        }

        _createUser(user) {
            return `<tr>
                <td> ${user.id} </td>
                <td> ${user.username} </td>
                <td> ${user.email} </td>
                <td> ${user.level} </td>
                <td> ${user.registrationTimestamp} </td>
                <td><button type='button' class='btn btn-link edit' onclick='users.edit(${user.id})'>Edit</button><button type='button' class='btn btn-link save' onclick='users.save(${user.id})' style='display:none'>Save</button></td>
                <td><button type='button' class='btn btn-danger' onclick='users.delete(${user.id})'>Remove</button></td>
            </tr>`;
        }
    }

    var users = new Users();

    </script>
	</body>
</html>
