<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include /usr/src/app/pages/components/head %>
	</head>

	<body>
		<%- include /usr/src/app/pages/components/header %>
        </br>
		<div class="container">
			<h3> Hold on. </h3>
			<p> At the moment we are not accepting signups this way. Keys are given manually to trusted users. Please contact me or any other staff member to obtain a key. (Discord: @Ecstabis#0001) </p>
		</div>
        <%- include /usr/src/app/pages/components/footer %>

	</body>
</html>
