<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ./components/head %>
        <style>
        .tile_bg {
            background-image: url(/images/banner.png);
        }

        .slide_size {
            width: 256px;
            height: 240px;
        }
        .slide_font {
            font-size: 64px;
        }

        @media screen and (min-width: 1280px) {
            .slide_size {
                width: 512px;
                height: 320px;
            }
            .slide_font {
                font-size: 128px;
            }
        }

        .info_image_left {
            margin-right:32px;
            float: left;
            width: 256px;
            height: 256px;
        }

        .info_image_right {
            margin-left:32px;
            float: right;
            width: 256px;
            height: 256px;
        }
        </style>
	</head>
	<body>
		<%- include ./components/header %>
        <div id="carousel_index" class="carousel slide tile_bg" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#carousel_index" data-slide-to="0" class="active"></li>
                <li data-target="#carousel_index" data-slide-to="1"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active" onclick="console.log('test')">
                    <img src="/images/slide_1.png" alt="slide_1" class="slide_size">
                    <div class="carousel-caption">
                        <h1 class="slide_font"><b>Dupbit</b></h1>
                    </div>
                </div>
                <div class="carousel-item text-center" href="#section2">
                    <img src="/images/svg/slide_2.svg" alt="slide_2">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel_index" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carousel_index" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <div id="section1" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px">
            <div class="row">
                <div class="col-md-12">
                    <img src="/images/icons/dupbit.svg" class="info_image_left">
                    <h1>Dupbit</h1>
                    <p>Dupbit is a personal project. We like to make all kind of apps that make our life more enjoyable and easier.</p>
                    <p>We decided to share all our projects with the internet and are currently looking for beta testers. A beta key can only be obtained through an invite or by applying for it.</p>
                    </br>
                    <a href="/beta" class="btn btn-info" role="button">Get your beta key here!</a>
                </div>
            </div>
        </div>
        <div id="section2" class="container-fluid bg-success" style="padding-top:70px;padding-bottom:70px">
            <div class="row">
                <div class="col-md-12">
                    <img src="/images/icons/dupbit_connect.svg" class="info_image_right">
                    <h1>Dupbit Connect (Beta testers only)</h1>
                    <p>Dupbit Connect is the first serie of apps of our most active project. Then main purpose is to be able to connect all you devices together regardless of the OS.</p>
                    <p>We are trying to connect your desktop, laptop, phone, browser, tablet, ... together to make your and our life easier.</p>
                    </br>
                    <a href="/projects/connect" class="btn btn-info" role="button">Learn more about Dupbit Connect.</a>
                    <a href="/projects/connect/control" class="btn btn-info" role="button">Open the control panel.</a>
                </div>
            </div>
        </div>
        <div id="section3" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px">
            <div class="row">
                <div class="col-md-12">
                    <img src="/images/dupbot.svg" class="info_image_left">
                    <h1>Dupbot</h1>
                    <p>Dupbot is a personal project of myself (Joren Vandeweyer) on Discord. It's a multifunctional bot that can be used for moderation, fun, role managing, reminders and much more.</p>
                    <p>For more info and help about Dupbot look at the Dupbot page</p>
                    </br>
                    <a href="/dupbot" class="btn btn-info" role="button">Go to the dupbot page!</a>
                </div>
            </div>
        </div>
        <div id="section4" class="container-fluid bg-success" style="padding-top:70px;padding-bottom:70px">
            <div class="row">
                <div class="col-md-12">
                    <h1>Calendars</h1>
                    <p>Calendars is a small combination tool. It combines existing calendar subscriptions whilst filtering events.</p>
                    </br>
                    <a href="/projects/calendar" class="btn btn-info" role="button">Checkout Calendars!</a>
                </div>
            </div>
        </div>
        <div id="section5" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px">
            <div class="row">
                <div class="col-md-12">
                    <h1>Future Projects</h1>
                    <p>If you have a project that might fit in here, please look at the contact page and send us your request!</p>
                    </br>
                    <a href="/contact" class="btn btn-info" role="button">Contact us!</a>
                </div>
            </div>
        </div>
        <%- include ./components/footer %>
	</body>
</html>
