<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include /usr/src/app/pages/components/head %>
	</head>

	<body>

		<%- include /usr/src/app/pages/components/header %>
        </br>
		<div class="container">
			<div class="card">
				<div class="card-header"><b>Login Attempts</b></div>
				<div class="card-body">
					<table class='table table-hover'>
						<thead>
							<tr>
								<th>ID</th>
								<th>Username</th>
								<th>IP</th>
								<th>Success</th>
								<th>Timestamp</th>
							</tr>
						</thead>
						<tbody>
                            <% var attempts = pageData.attempts %>
                            <% for (let attempt in attempts) { %>
                                <%- "<tr>" %>
                                    <%- "<td>" + attempts[attempt]['uid'] + "</td>" %>
                                    <%- "<td>" + attempts[attempt]['username'] + "</td>" %>
                                    <%- "<td>" + attempts[attempt]['ip'] + "</td>" %>
                                    <%- "<td>" + attempts[attempt]['success'] + "</td>" %>
                                    <%- "<td>" + attempts[attempt]['timestamp'] + "</td>" %>
                                <%- "</tr>" %>
                            <% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
        <%- include /usr/src/app/pages/components/footer %>

	</body>
</html>
