<% if(!("redirect" in query)) {query.redirect = "welcome"} %>
<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include ./components/head %>
	</head>

	<body>

		<%- include ./components/header %>
        </br>
		<div class="container">
			<div class="card mx-auto" style="max-width: 400px;">
				<div class="card-header"><b>Login</b></div>
				<div class="card-body">
					<% if("fail" in query) { %>
					<div class="alert alert-danger alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Wrong password or username!</strong> Try again.
					</div>
					<% } %>
					<% if("notActivated" in query) { %>
					<div class="alert alert-danger alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Account not activated!</strong> Please activate your account first.
					</div>
					<% } %>
					<form action="api/login" method="post">
						<div class="form-group">
							<div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
								<input id="username" class="form-control" name="username" type="text" placeholder="Username">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
								<input id="password" class="form-control" name="password" type="password" placeholder="Password">
							</div>
						</div>
						<div class="form-group float-right">
							<div class="input-group">
								<input class="btn btn-primary" type="submit" value="Login"/>
							</div>
						</div>
						<input name="redirect" type="hidden" value="<%= query.redirect %>"/>
					</form>
				</div>
			</div>
		</div>
        <%- include ./components/footer %>
	</body>
</html>
