<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include /usr/src/app/pages/components/head %>
	</head>

	<body>

		<%- include /usr/src/app/pages/components/header %>
        </br>
		<div class="container">
			<h3>Not authorized</h3>
			<p>You are not authorized to view this page.</p>
		</div>
        <%- include /usr/src/app/pages/components/footer %>

	</body>
</html>
