<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include /usr/src/app/pages/components/head %>
	</head>

	<body>
		<%- include /usr/src/app/pages/components/header %>
		<div class="container">
			<h3> Not found </h3>
			<p> This page doesn't exist. </p>
		</div>

	</body>
</html>
