@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    height: 100%;

    background-color: black;
    color: white;

    // font-family: 'Roboto', sans-serif;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

#app {
    height: 100%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    color: #fff;
    background-color: #000;
    border-color: #fff;
    border-width: 1px;
    border-radius: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

input:disabled {
    background-color: #ffffff33;
    color: #fff;
    border-color: #ffffff33;

}
