<img id="menu" src="/assets/images/menu.png" alt="menu"/>
<div id="nav-bar" class="hidden">
    <a class="nav-item" href="/">FESTIVAL</a>
    <!-- <a class="nav-item" href="/fotos">FOTO'S</a> -->
    <a class="nav-item" href="/sponsors">SPONSORS</a>
    <!-- <a class="nav-item" href="/locatie">LOCATIE</a> -->
    <!-- <a class="nav-item" href="/lineup">LINE-UP</a> -->
    <!-- <a class="nav-item" href="/tickets">TICKETS</a> -->
</div>
