<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include /usr/src/app/pages/components/head %>
	</head>

	<body>

		<%- include /usr/src/app/pages/components/header %>
        </br>
		<div class="container">
			<div class="card mx-auto">
				<div class="card-header"><b>Account</b></div>
				<div class="card-body">
					<a class="btn btn-primary" href="/account/edit" role="button">Edit Account</a>
					<a class="btn btn-primary" href="/account/tokens" role="button">Edit Tokens</a>
				</div>
			</div>
            </br>
		</div>
        </br>
        <%- include /usr/src/app/pages/components/footer %>

	</body>
</html>
