<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ../../components/head %>
	</head>
	<body>
		<%- include ../../components/header %>
		<div class="container">
			<div class="card">
				<div class="card-header"><b>Music</b></div>
				<div class="card-body">
					<div id="playlist_buttons" class='btn-group' role="group">
                        <a class='btn btn-light' href='music'><i class='fa fa-music'></i> All</a>
                        <a class="btn btn-light" data-toggle="modal" data-target="#editPlaylistModal"><i class='fa fa-edit'></i></a>
					</div>
					<div class="table-responsive">
						<table class='table table-hover table-condensed table-responsive'>
							<thead>
								<tr>
									<th></th>
									<th>Artist</th>
									<th>Title</th>
									<th>Playlists</th>
									<th>Download</th>
									<th>Youtube</th>
									<th>Edit</th>
									<th>Remove</th>
								</tr>
							</thead>
							<tbody id="allSongs">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<audio id="audio"></audio>


		<div id="editPlaylistModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
                            <h4 class="modal-title">Edit playlist</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<table class='table table-hover table-condensed table-responsive'>
								<thead>
									<tr>
										<th>Name</th>
										<th>Content</th>
										<th>Edit</th>
										<th>Remove</th>
									</tr>
								</thead>
								<tbody id="editPlaylistModal">
								</tbody>
							</table>
						</div>
					<form action = "/api/music/addPlaylist" method = "post">
						<div class="modal-header">
							<h4 class="modal-title">Add playlist</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-music"></i></div>
                                    </div>
									<input name="name" type="text" class="form-control" placeholder="New Playlist"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Add</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>


		<div id="editSongModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action = "/api/music/editSong" method="post">
						<div class="modal-header">
                            <h4 class="modal-title">Edit song</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-headphones"></i></div>
                                    </div>
									<input id="artist" name="artist" type="text" class="form-control" placeholder="Artist"/>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-music"></i></div>
                                    </div>
									<input id="title" name="title" type="text" class="form-control" placeholder="Title"/>
								</div>
							</div>
							<div id="editSongModalContent" class="form-group">
							</div>
						</div>
						<div class="modal-footer">
							<input id="sid" name="sid" type="hidden"/>
							<button class="btn btn-primary" type="submit">Save</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="removeSongModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<form action = "/api/music/removeSong" method="post">
						<div class="modal-header">
                            <h4 class="modal-title">Remove song</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<p>Are you sure you want to remove this song?</p>
						</div>
						<div class="modal-footer">
							<input id="sid" name="sid" type="hidden"/>
							<button class="btn btn-primary" type="submit">Remove</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>
        <%- include ../../components/footer %>
        <script>

        async function init() {
            const playlists = await Request.GET("/api/music/playlist").then(data => data.playlists);
            const songs = await Request.GET("/api/music/song").then(data => data.songs);

            if (playlists && playlists.length) {
                document.getElementById("editSongModalContent").innerHTML += `<div class="panel panel-default">
                    <div class="panel-heading"><b>Playlists</b></div>
                    <div class="panel-body">`;
            }

            for (let i = 0; i < playlists.length; i++) {
                const playlist = playlists[i];
                document.getElementById("playlist_buttons").innerHTML += createPlaylistButton(playlist);
                document.getElementById("editPlaylistModal").innerHTML += createEditPlaylists(playlist);
                document.getElementById("editSongModalContent").innerHTML += createEditSongModal(playlist);
            }

            for (let i = 0; i < songs.length; i++) {
                const song = songs[i];
                document.getElementById("allSongs").innerHTML += createSongEntry(song);
            }

            $(".playlist").click(function() {
                $(this).find("span").hide();
                $(this).find("input").show();
                $(this).find(".btn-info").hide();
                $(this).find(".btn-success").show();
            })

            $(".playButton").click(function() {
                const id = $(this).attr("data-id");
                console.log(id);
                $("#audio").attr("src", "/api/music/stream?id="+id);
                $("#audio")[0].play();
                $(".pauseButton").hide();
                $(".playButton").show();
                $(this).hide();
                $(this).next().show();
            });
            $(".pauseButton").click(function() {
                $("#audio")[0].pause();
                $(".pauseButton").hide();
                $(".playButton").show();
            });
        }

        function createPlaylistButton(playlist) {
            return `<a class='btn btn-light' onclick='openPlaylist(${playlist.id})'><i class='fa fa-music'></i> ${playlist.name} </a>`;
        }

        function createSongEntry(song) {
            return `<tr id="sid_${song.id}">
                <td>
                    <a class='playButton btn btn-link btn-xs' data-id='${song.id}'><i class='fa fa-play'></i></a>
                    <a class='pauseButton btn btn-link btn-xs' style='display: none;'><i class='fa fa-pause'></i></a>
                </td>
                <td>${song.artist}</td>
                <td>${song.title}</td>
                <td>${song.playlistNames.join(", ")}</td>
                <td><a class='btn btn-success btn-xs' href="/api/music/song?id=${song.id}&download"><i class='fa fa-download'></i> Download </a></td>
                <td><a class='btn btn-link btn-xs' href='${song.url}' taget='_blank'><i class='fab fa-youtube' taget='_blank'></i>${song.filename}</a></td>
                <td><a class='btn btn-info btn-xs' data-toggle='modal' data-target='#editSongModal' onclick='editSong(${song.id}, "${song.artist}", "${song.title}", [${song.playlistIds.join(",")}])'><i class='fa fa-edit'></i> Edit </a></td>
                <td><a class='btn btn-danger btn-xs' data-toggle='modal' data-target='#removeSongModal' onclick='removeSong(${song.id})'><i class='fa fa-trash'></i> Remove </a></td>
            </tr>`;
        }

        function createEditPlaylists(playlist) {
            return `<tr class='playlist' id='pid_${playlist.id}'>
                <td><span>${playlist.name}</span><input type='text' style='display:none;' value='${playlist.name}'/></td>
                <td>${playlist.numberOfSongs} songs </td>
                <td><a class='btn btn-info btn-xs'><i class='fa fa-edit'></i> Edit </a><a class='btn btn-success btn-xs' style='display: none;'><i class='fa fa-save'></i> Save </a></td>
                <td><a class='btn btn-danger btn-xs'><i class='fa fa-trash'></i> Remove </a></td>
            </tr>`;
        }

        function createEditSongModal(playlist) {
            return `<div class='checkbox'>
                <label><input id='pid_${playlist.id}' type='checkbox' name='pid' value='${playlist.id}'/>${playlist.name}</label>
            </div>`;
        }

        init();

        function editSong(sid, artist, title, pidList) {
			$("#editSongModal #sid").val(sid);
			$("#editSongModal #artist").val(artist);
			$("#editSongModal #title").val(title);
			$("#editSongModal input[type=checkbox]").prop('checked', false);
			for (pid of pidList) {
				$(`#editSongModal #pid_${pid}`).prop('checked', true);
			}
		}
		function removeSong(sid) {
			$("#removeSongModal #sid").val(sid);
		}
        </script>
	</body>
</html>
