<!-- BANNER -->
<div class="jumbotron">
	<h1>Dupb<font color="white">i</font>t</h1>
</div>
<!-- BANNER -->
<!-- NAVIGATOR -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Dupbit.com</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMain" aria-expanded="false" aria-controls="navMain"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
		</div>
		<div id="navMain" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/dupbot">Dupbot for Discord</a></li>
						<li><a href="/projects/calendar">Calendars</a></li>
						<% if(user.level >= 2) { %>
						<li><a href="/projects/music">Music</a></li>
						<% } %>
					</ul>
				</li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if(session.isLoggedIn) { %>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.username %> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/welcome">Welcome</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Profile actions</li>
							<li><a href="/account">Account</a></li>
							<% if(user.level == 3) { %>
							<li class="divider"></li>
							<li class="dropdown-header">Admin actions</li>
							<li><a href="/users">Manage users</a></li>
							<li><a href="/logins">Login attempts</a></li>
							<% } %>
							<li class="divider"></li>
							<li><a href="/api/logout">Log out</a></li>
						</ul>
					</li>
				<% } else { %>
					<li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
					<li><a href="/login?redirect=<%= pageInfo.currentPage %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>
<!-- NAVIGATOR -->
