<title><%= pageInfo.title %></title>
<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<style>
@font-face {
    font-family: Hiragino Kaku Gothic Std;
    src: url(/fonts/custom.otf);
}
.jumbotron {
    margin-bottom: 0px;
    color: inherit;
    background-image: url(/images/banner.png);
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.jumbotron h1 {
    color: #E0E0E0;
    font-family: "Hiragino Kaku Gothic Std";
	font-size: 36px;
}
@media screen and (min-width: 1280px) {
	.jumbotron {
		padding-top: 15px;
		padding-bottom: 20px;
	}
	.jumbotron h1 {
		font-size: 52px;
	}
}
.alert {
	padding: 7px 35px 7px 10px;
	margin-bottom: 15px;
}
@media screen and (min-width: 1280px) {
	.dropdown-menu>li>span {
		color: #333;
	}
}
.table {
	margin-top: 20px;
}
.form-control-feedback{
	z-index: 4;
}
.has-feedback label~.form-control-feedback {
    top: 15px;
}
.help-block {
    font-size: 14px;
	margin: 0;
}
.input-group-info {
	display: block;
	font-size: 8pt;
	font-weight: bold;
	padding: 0 12px;
	margin: 0;
	background-color: #eee;
	border: 1px solid #ccc;
	border-bottom: 0;
}
.has-error .input-group-info {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.has-success .input-group-info {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}
</style>
